{
  "bracketSpacing": true,
  "singleQuote": false,
  "trailingComma": "all",
  "tabWidth": 4,
  "semi": true,
  "printWidth": 120,
  "endOfLine": "auto",
  "useTabs": false,
  "arrowParens": "always"
}